<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/common_layout.xhtml">
            <ui:define name ="content">
                <h:form>
                    <div class="row">
                        <div class="col-md-3">Marka</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.brand}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Model</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.model}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Rocznik</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.yearOfProduction}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Przebieg</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.mileage}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Silnik</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.engine}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Typ paliwa</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.fuelType}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Moc</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.horsePower}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Skrzynia biegów</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.gearType}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Opis</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.description}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Cena</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.price}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Numer VIN</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.vin}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Numer ubezpieczenia</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.insurancePolicy}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Numer rejestracyjny</div>
                        <div class="col-md-3"><h:inputText value="#{addCarController.car.registrationDocument}"/></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><h:commandButton value="Dodaj samochód" action="#{addCarController.addCar()}"/></div>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

