<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/common_layout.xhtml">
            <ui:define name ="content">
                <h1>#{carListController.showCarDetails(param['id']).brand}
                #{carListController.showCarDetails(param['id']).model}</h1>
                <p>Rocznik #{carListController.showCarDetails(param['id']).yearOfProduction}</p>
                <p>Przebieg #{carListController.showCarDetails(param['id']).mileage}</p>
                <p>Przebieg #{carListController.showCarDetails(param['id']).mileage}</p>
                <p>Silnik #{carListController.showCarDetails(param['id']).engine}</p>
                <p>Typ paliwa #{carListController.showCarDetails(param['id']).fuelType}</p>
                <p>Moc #{carListController.showCarDetails(param['id']).horsePower}</p>
                <p>Skrzynia biegów #{carListController.showCarDetails(param['id']).gearType}</p>
                <p>Opis samochodu #{carListController.showCarDetails(param['id']).description}</p>
                <h1>Cena #{carListController.showCarDetails(param['id']).price}</h1>

                <h:button value="Powrót" outcome="cars_to_sale.html"/>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

