<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
          
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="templates/common_layout.xhtml">
            <ui:define name ="content">
                <h:dataTable value="#{carListController.postsList}" var="car" class="table table-striped table-bordered table-hover table-condensed">
                    <h:column>
                        <f:facet name="header">Zdjęcie</f:facet>
                            #{car.model}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Marka</f:facet>
                            #{car.brand}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Model</f:facet>
                            #{car.model}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Rok</f:facet>
                            #{car.yearOfProduction}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Przebieg</f:facet>
                            #{car.mileage}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Cena</f:facet>
                            #{car.price}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Wyświetl szczegóły</f:facet>
                        <h:form>
                            <h:button value="Szczegóły" outcome="car_details.xml?id=#{car.id}"/>
                        </h:form>
                    </h:column>
                    <h:column>
                        <f:facet name="header">Usuń samochód</f:facet>
                        <h:form>
                            <h:commandButton value="Usuń" action="#{carListController.removeCar(car)}"/>
                        </h:form>
                    </h:column>
                </h:dataTable>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

